<div class="card">
    <div class="card-block">
        <h4 class="card-title">ChatEngine</h4>
        <p class="card-text">Your are {{me.state.username}} with uuid {{me.uuid}}</p>
    </div>
    <ul id="online-list" class="list-group list-group-flush">
        <li class="list-group-item" ng-repeat="(uuid, user) in chat.users" ng-hide="user.hideWhileSearch">
            <a href="" ng-click="newChat(user)">{{user.state.username}}</a>
        </li>
    </ul>
    <div class="card-block">
        <form class="send-message" ng-submit="search()">
            <div class="input-group">
                <input id="usernameSearch" type="text" class="form-control message"
                       placeholder="Search for Username" ng-change="search()" ng-model="mySearch">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
</div>
