<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">ChatEngine</h4>
                <p class="card-text">Your are {{me.state.username}} with uuid {{me.uuid}}</p>
            </div>

            ...

        </div>
    </div>
    <div class="col-md-6">
        <div id="chats" class="row" ng-repeat="chat in chats">
            <div class="chat col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-6">
                            {{chat.channel}}
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="" class="close">x</a>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush online-list-sub">
                        <li class="list-group-item" ng-repeat="(uuid, user) in chat.users"
                            ng-hide="user.hideWhileSearch">
                            {{user.state.username}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>