<div class="chat col-xs-12">
    <div class="card">
        ...
        <hr />
        <div class="card-block">
            <h6>Add a user to this chat</h6>
            <form ng-submit="searchFromGlobal()">
                <div class="input-group">
                    <input name="usernameSearchGlobal" type="text" class="form-control message"
                           placeholder="Add User" ng-change="searchFromGlobal()"
                           ng-model="mySearchFromGlobal">
                </div>
            </form>
            <ul class="list-group list-group-flush online-list-sub">
                <li class="list-group-item" ng-repeat="(uuid, user) in users">
                    <a href="#" ng-click="invite(user)"> {{user.state.username}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
